
#header{
width:100%;
}

#main{
float:left;	
color: chocolate;
}

#rightmenu {
    float: right;
    width: 236px;
}
#footer{
width:100%;	
color: blue;
font: optional;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}